@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.startDate {
  animation: startDateStartAnimation 0.3s ease-in;
  transition: all;
}

.startDateEnd {
  animation: startDateEndAnimation 0.3s ease-in;
  transition: all;
}

.endDate {
  animation: endDateStartAnimation 0.3s ease-in;
  transition: all;
}

@keyframes startDateStartAnimation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes startDateEndAnimation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes endDateStartAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.leaflet-container {
  width: 100%;
  height: 400px;
}
